<div class="relative bg-white">
  <div class="mx-auto px-5">
    <div class="flex items-center justify-between py-3.5 md:justify-start">
      <!-- Logo -->
      <div class="flex items-center justify-start sm:order-1">
        <a routerLink="/dashboard" class="flex items-center justify-center rounded bg-primary-500 p-2 focus:outline-none focus:ring-1">
          <img src="assets/images/arc-biomed-logo.png" alt="logo" class="h-8 w-25">
        </a>
      </div>

      <!-- Menu -->
      <div class="space-x-10 sm:order-2 md:flex">
        <!--  if additional nav menu are needed   -->
      </div>

      <!-- Profile menu -->
      <div class="items-center justify-end sm:order-3 md:flex md:flex-1 lg:w-0">
        <dhs-profile-menu></dhs-profile-menu>
      </div>
    </div>
  </div>

</div>
