@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-grid {


  display: grid;
  grid-template-columns: 0.3fr 1.7fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 10px 0px;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "sidebar content content";
}
.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.content { grid-area: content; }


@layer base {
  .btn{
    @apply bg-gray-500 shadow hover:bg-gray-600 text-white
    font-bold py-4 px-5 rounded-sm;
    &.primary{
      @apply bg-primary hover:bg-red-700;
    }
  }

  input.input{
    @apply bg-gray-50 border border-gray-300 text-gray-700 py-4 px-5
    sm:text-sm rounded-sm w-full p-2.5;
  }

  .sub-menu{
    @apply block cursor-pointer rounded-sm px-3 py-2 text-sm
    font-semibold text-gray-700 hover:bg-gray-100 hover:text-red-500;
  }
}


